<H1><%= render partial: "shared/homeicon"%><span id="header">You put your name in wrong?</span></H1>
<%= form_for @shopper do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
<br>
    <%= f.label :availability %>
    <%= f.text_field :availability %>
<br>
    <%= f.label :weight_max %>
    <%= f.text_field :weight_max %>
<br>
    <%= f.submit "update shopper profile" %>
<% end %>