<H1><%= render partial: "shared/homeicon"%><span id="header"><%= @shopper.name %></span><H1>
<div> 
    max carry is <%= @shopper.weight_max %> lbs
</div>
<H2>Current Orders</H2>
<ul>
    <% @shopper.orders.each do |order| %>
        <li><%= order.list_weight %> lbs <%= order.grocery_list%> </li>
    <%end%>
</ul>
<br>
<H3>Available Orders</H3>
<ul>
    <% @orders.each do |order| %>
        <li><%=order.grocery_list%></li>
        <li><%=order.list_weight%></li>
        <li><%=order.status%></li>
        <%= button_to "take this order", l_order_path(order), method: "patch" %>
        <br>
    <% end %>
</ul>
<%= button_to "edit this shopper", edit_shopper_path(@shopper) , method: "get" %>
<%= button_to "delete this shopper", shopper_path(@shopper) , method: "delete" %>
<%= button_to "return to index", shoppers_path , method: "get" %>
<%= button_to "see pending orders", orders_path , method: "get" %>