<H1><%= render partial: "shared/homeicon"%><span id="header"><%= @customer.name %></span></H1>
<ul>
    <% @customer.orders.each do |order| %>
        <li><%= order.list_weight %> lbs <%= order.grocery_list%> </li>
    <%end%>
</ul>
<%= button_to "Place An Order", customer_order_path(@customer) , method: "get" %>
<%= button_to "edit this customer", edit_customer_path(@customer) , method: "get" %>
<%= button_to "delete this customer", customer_path(@customer) , method: "delete" %>
<%= button_to "return to index", customers_path , method: "get" %>